.weavBackground{
    background-image: url('../../assets/images/weav-backgroud5.png');
     background-size: cover;
    height: calc(100vh - 40vh);
    /* width: 100%;*/
    /* background-position: center center;  */
    /* z-index: 0; */
    /* align-items: center; */
    display: flex;
    /* position: fixed; */
    background-repeat: no-repeat;
    min-height: 87vh;
    /* height: 100%; */
    width: 100%;
    /* background-position: center; */

    /* margin-top: 10px; */
    margin-left: 5%;    
    width: 1600px;
   
    /* opacity: 0.6; */
}
.waitList{
    /* margin-top: 225px; */
    /* margin-left: 500px; */
    width: 400px;
    height: 196px;
    background: #EFEFEF 0% 0% no-repeat padding-box;
    box-shadow: 4px 4px 8px #000000B0;
    border-radius: 10px;
    opacity: 0.8;
    backdrop-filter: blur(undefined);
    -webkit-backdrop-filter: blur(undefined);

    position: fixed;
    top: 70%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.button{
    top: 517px;
    left: 578px;
    width: 210px;
    height: 40px;
    background: #1976D2 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 4px #000000B3;
    border-radius: 20px;
    border: none;
    /* opacity: 1; */
    cursor: pointer;
    font: normal normal 550 20px/24px Raleway;
    letter-spacing: 0px;
    color: #FFFFFF;
}
.signInContent{
    top: 587px;
    left: 529px;
    /* width: 224px; */
    height: 24px;
    /* text-align: left; */
    font: normal normal 600 20px/24px Raleway;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-family: Raleway;
}
.appName{
    top: 160px;
    left: 655px;
    height: 16px;
    text-align: center;
    font: normal normal medium 12px/98px Raleway;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-family: Raleway;
}